# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Harrison Liddiard
	email = git@harrisonliddiard.com
[core]
	autocrlf = input
	excludesfile = /Users/liddiard/.gitignore_global
[advice]
	addIgnoredFile = true
[pull]
	rebase = false
